body {
    margin: 0;
    font-family: monospace;
    background-color: #010409;
    color: #f8f8f2; /* Offwhite color */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out content and bottom */
    height: 100vh;
}

.container {
    width: 80%; /* Set the width of the container to a percentage */
    max-width: 800px; /* Limit maximum width */
    margin: 0 auto; /* Center the container */
    text-align: center; 
}


.top-logo {
    margin: 30px auto; /* Space above and below the logo */
    cursor: pointer; /* Pointer cursor for logo */
    width: 60%;
}

.releases-list {
    width: 100%;
    padding: 0; /* Padding for side */
    display: flex;
    flex-direction: column;
}

.release-item {
    background-color: #1a1a1a; /* Slightly lighter than background */
    padding: 0; /* Padding within each release item */
    margin: 12px 0; /* Margin between items */
    cursor: pointer; /* Pointer cursor for each item */
    transition: background-color 0.3s; /* Transition effect */
    font-size: 18px;
    box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.5); /* White shadow */
    max-width: 100%;
    display: inline-block; /* Use flexbox for layout */
    height: 100px;
    max-height: 100px;
    overflow: hidden;
}

.release-img {
    float: left;
    height: 100px;
}

.release-img img {
    position: relative;
    top: -50px;
    height: 200px; /* Set a fixed height for the image */
    margin-right: 10px; /* Spacing between image and text */
}

.release-number {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 90px;
    top: -210px;
    left: 5px;
    text-align: left;
    color: rgba(240, 240, 240, 0.9);
    text-shadow: 2px 2px 5px black;
}

.release-date {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.release-info {
    display: flex; /* Align number, date, and count vertically */
    flex-direction: column;
    float: right;
    margin-right: 5px;
}

.includes-raw {
    font-size: 12px; /* Smaller font for RAW notice */
    color: red; /* Red color for warning text */
    margin-top: 5px; /* Space above the text */
}

.processed {
    font-size: 12px; /* Smaller font for RAW notice */
    color: rgb(160, 160, 160); /* Red color for warning text */
    margin-top: 5px; /* Space above the text */
}

.release-item:hover {
    background-color: #333; /* Darker background on hover */
}

.bottom-bar {
    background-color: #0d1117;
    border-top: solid 1px #2f353d;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px; /* Padding on the bottom bar */
    box-sizing: border-box; /* Include padding in width */
}

.bottom-left {
    align-self: flex-start; /* Align copyright to the left */
}

.bottom-right {
    align-self: flex-end; /* Align link to the right */
}

.light-blue-link {
    color: lightblue;
    text-decoration: none;
}

.light-blue-link:hover {
    text-decoration: underline; /* Underline on hover */
}

.hidden {
    display: none;
}

.info-offset {
    margin-top: 20px;
}