body {
    margin: 0;
    font-family: monospace;
    background-color: #0d1117;
    color: #f8f8f2; /* Offwhite color */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out content and bottom */
    height: 100vh;
}

.container {
    width: 80%; /* Set the width of the container to a percentage */
    max-width: 800px; /* Limit maximum width */
    margin: 0 auto; /* Center the container */
    text-align: center; 
}

.top-logo {
    margin: 30px auto; /* Space above and below the logo */
    cursor: pointer; /* Pointer cursor for logo */
    width: 60%;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px; /* Padding on the bottom bar */
    box-sizing: border-box; /* Include padding in width */
}

.bottom-left {
    align-self: flex-start; /* Align copyright to the left */
}

.bottom-right {
    align-self: flex-end; /* Align link to the right */
}

.light-blue-link {
    color: lightblue;
    text-decoration: none;
}

.light-blue-link:hover {
    text-decoration: underline; /* Underline on hover */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px; /* Space between grid items */
    margin: 20px 0; /* Margin above and below the grid */
}

.image-item {
    position: relative;
    overflow: hidden; /* Crops images within the square */
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the square while cropping */
    aspect-ratio: 1 / 1; /* Maintain a square aspect ratio */
    /*cursor: pointer;*/
}

.download-button {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: rgba(76, 76, 76, 0.8); /* Button background */
    color: rgb(62, 170, 173);
    font-size: 24px;
    width: 34px;
    border: none;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 5px; /* Rounded corners for the button */
}

.load-more-button {
    margin: 20px auto; /* Space around the load button */
    padding: 10px 20px;
    border: none;
    background-color: lightgray; /* Background for the button */
    cursor: pointer;
}

.image-item::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px; /* Image position at the bottom-right */
    background-image: url('/assets/cc/cc-zero.png'); /* Image path */
    background-size: cover; /* Cover the area */
    width: 112px; /* Set an appropriate width for the image */
    height: 21px; /* Set an appropriate height for the image */
    opacity: 0.8;
}